*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: black;
    color: white; */
}

.left
{
    width: 25vw;
    padding: 15px;
}
.right
{
    width: 75vw;
}


.home ul li{
    gap: 3px;
    width: 34px;
    list-style: none;
    padding-top: 40px;
} 
.heading
{
    gap: 3px;
    width: 100%;
    list-style: none;
    padding-top: 5px;
}
