.border
{
    border: 2px solid rgb(240, 20, 20);
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center
{
    justify-content: center;
}
.items-center
{
    align-items: center;
}

.bg-black
{
    background-color: black;
    color: white;
}

.invert
{
    filter: invert(1);
}

.bg-gray
{
    background-color: #101011;
}
.rounded
{
    border-radius: 10px;
}
.m1
{
    margin: 5px;
}
.p1{
    padding: 10px;
}
